# Godot 4+ specific ignores
.godot/
/android/
build/
_site/
api/

export.cfg
export_credentials.cfg
*.tmp

*.bin

# OS Specific
.DS_Store
Thumbs.db
Desktop.ini

# Affinity Files
*.lock.af
*.lock

# User-Specific
*.user

.mono/
mono_crash.*.json
